@{ ViewBag.Title = "Contact"; }

<div class="row">
    <div class="top-bottom-padding">
        <h2>@ViewBag.Title</h2>
        <hr />

        @*<h3>@ViewBag.Message</h3>*@
    <address>
        malsharayri@regis.edu
        <br />
        <br />
        smart_sharairi@hotmail.com
        <br />
        <br />
        https://www.facebook.com/smart.alsharayri
    </address>
    </div>
</div>