
@{
    ViewBag.Title = "Video Conferencing Settings"; }

<style>
    .container {
        width: 100%;
        overflow: hidden;
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
    }

    .responsive-iframe {
        position: absolute;
        top: 100px;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
</style>

<div class="container">
    <iframe id="DoctorsFrame" class="responsive-iframe" src="http://localhost:9001/samples/dashboard/"></iframe>
</div>


